body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffebee;
}

.main-container {
  padding: 20px;
  margin-top: 20px;
}

form {
    padding: 20px;
    margin-top: 20px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-color: #424242;
    box-shadow: none;
}

input:not(.browser-default):focus:not([readonly]) {
    border-bottom-color: #d9c41d;
    box-shadow: 0px 1px #ef9a9a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

i.icon-black {
    color: #424242;
}

.submit-button {
    margin-top: 0px;
}

.favorites {
    margin-top: 8.5px;
}

.enter-item {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.shopping-list-item::after {
    display: inline-block;
}

.highlighted {
    color: white;
}

.suggestion {
    padding: 15px;
}

.autocomplete:focus {
    border-bottom-color: #ffebee;
}
